* {
	margin: 0;
	padding: 0;
}

a {
	color: #000000;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 14pt;
    line-height: 1.75em;
	font-family: none;
	background: #e0dfd2;
	color: #312b38;
	min-height: 600px;
}

br.clear {
	clear: both;
}

h2,h3,h4 {
	text-align: center;
	font-family: Bitter, serif;
	color: #000000;
}
p{
	padding: 1em;
}
strong {
	color: #000000;
}
#cost{
	font-weight: bold;
	text-decoration: underline;
}
img.top {
	margin: 8px 0 20px 0;
}

.imageList {
	list-style: none;
}

.imageList li {
	clear: both;
}

#banner {
	position: relative;
	height: 400px;
	max-width: 100%;
	margin: 0;
	margin-bottom: 1.5em;
	background: url('img/pic1.jpg') no-repeat;
	background-size: 100% 100%;
	box-shadow: inset goldenrod 0 0 10px 0px;
}
#banner img{
width: 100%;
height: 100%;
}
#actia{
	background-color: rgb(46 0 125);
	padding: 1em;
	color: rgb(216 216 216);
	box-shadow: inset goldenrod 0 0 10px 0px;
}
#highlight{
	color: white;
	text-shadow: 1px 1px 2px black;
}

#actia p{
	margin: 0;
	
}
#box1 {
	width: 100%;
	overflow: hidden;
	margin: 0 0 20px 0;
	display: block;
}

#box2 {
	width: 100%;
	overflow: hidden;
	float: left;
	display: block;
}

#box3 {
	width: 100%;
	overflow: hidden;
	margin: 0 0 0 0px;
	display: block;
}

#content {
	width: 100%;
	float: left;
}

#footer {
    min-height: 100px;
    width: 100%;
    position: relative;
    float: left;
    margin-top: 2em;
    display: block;
    max-width: 100%;
    background: linear-gradient(0deg, rgb(164 114 61) 0%, goldenrod 100%);
    color: #b0c3c4;
}
#workname{
	background: linear-gradient(0deg, rgb(164 114 61) 0%, goldenrod 100%);
	color: #fff;
	margin-top: 1em;
	padding: 1em;
	text-shadow: 1px 1px 2px black;
	transition: all 0.3s;
}
#workname:hover{
	box-shadow: inset rgb(46 0 125) 0 0 10px 0px;
	transition: all 0.3s;
}
#workdesc{
	padding: 10px;
	border: 1px solid goldenrod;
}

#workdesc p{
	width: fit-content;
}

#footer a {
	color: #e8edee;
}

#footer h2, #footer h3, #footer h4 {
	color: #fff;
}
#header {
	position: relative;
	padding-bottom: 24px;
	height: 100px;
	max-width: 100%;
	background: linear-gradient(0deg, rgb(164 114 61) 0%, goldenrod 100%);
	color: #fff;
}

#logo a {
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 2px black;
}

#logo h1 {
	font-family: Bitter, serif;
}

#main {
	width: 90%;
	margin:0 5%;
	height: 100%;
    display: inline-block;
    text-align: justify;
    background-color: white;
}

#outer {
	position: relative;
	margin: 0 8%;
	background: #fff;
}

#sidebar {
	width: 20%;
    height: 100px;
    float: left;
    padding:5%;
}
#mobile-menu{
	position: relative;
	bottom: 0;
	left: 0;
	height: 70px;
	width: 100%;
	margin: 0 0 0 0;
	background: gold;
}

#mob-menu-logo{
	width: 100%;
	height: 100%;
	border-radius:0.25rem;
}
@media (max-width: 4000px){
	#mobile-menu{
		display: none;
	}
	#nav{
			display:block;
	}
	.d-mob-none {
		display: block !important;
	}
	#search form {
		display: block;
	}
	img.left {
		float: left;
		margin: 8px 20px 20px 0;
	}
	#logo {
		position: absolute;
		top: 0;
		left: 24px;
		height: 150px;
		line-height: 150px;
		font-size: large;
	}
	
}

@media (max-width: 900px){
	#mobile-menu{
	display: block;
	}
	#nav{
		display:none;
	}
	.d-mob-none {
		display: none !important;
	}

	#search form {
		display: none;
	}
	#logo {
		position: absolute;
		top: 0;
		left: 24px;
		height: 150px;
		line-height: 150px;
		margin:0 30%;
		text-align: center;
		display: contents;
	}
	#main{
		justify-content: center;
		padding: 0;
	}
	#main h2{
		text-align: center;
	}
	#outer{
		margin:0;
	}
}
@media (max-width: 770px){
	img.left {
		float: none;
		margin: 0;
	}
	#btnup{
		position: fixed;
    	width: 50px;
    	height: 50px;
    	background-color: rgb(46 0 125);
		background-image: url('img/up.png');
		background-size: contain;
    	border-radius: 100%;
		top: 80%;
		right: 10%;
		opacity: 30%;
		z-index: 1;
	}
	#btnup:active{
    	background-color: goldenrod;
		opacity: 100%;
	}
	#main{
		justify-content: center;
		padding: 0;
		margin: 0;
		width: 100%;
		text-align: justify;
	}
	#sidebar{
		display: none;
	}
	#content{
		width: 100%;
	}
}

@media (max-width: 426px){
	#banner{
		height: 228px;
	}
	body {
		font-size: 12pt;
	}
}

input[type="text" i] {
background: #fff;
height: 100%;
}
.mob-menu{
	position: relative;
    background-color: gold;
    padding: 0;
    top: 68px;
    z-index: 1;
	display: none;
}
.mob-menu li{
	display: block;
	width: 100%;
	font-size: 16px;
	font-weight: 700;
}
.mob-menu a{
	display: block;
	border-bottom: 1px solid goldenrod;
	color:white;
	padding: 5em;
	text-decoration: none;
}
